/** Global *******************************************/

$base03: #002b36; // Background Darker
$base02: #073642; // Background Dark
$base01: #586e75; // Comments / Secondary content
$base00: #657b83; // Primary content
$base0: #839496; // Light foreground
$base1: #93a1a1; // Lighter foreground
$base2: #eee8d5; // Background Light
$base3: #fdf6e3; // Background Lighter

$yellow: #b58900; // Accent
$orange: #cb4b16; // Warnings/Errors
$red: #dc322f; // Errors
$magenta: #d33682; // Highlights
$violet: #6c71c4; // Highlights
$blue: #268bd2; // Links
$cyan: #2aa198; // Hints
$green: #859900; // Success/Positive

